global
  log stdout format raw local0

defaults
  mode tcp
  timeout connect 3s
  timeout client 30s
  timeout server 30s

frontend redis_frontend
  bind *:6379
  default_backend redis_primary_nodes

backend redis_primary_nodes
  option tcp-check
  tcp-check send-binary 2a310d0a24340d0a524f4c450d0a
  tcp-check expect string master
  server redis-primary redis-primary:6379 check inter 1s fall 2 rise 1
  server redis-replica-1 redis-replica-1:6379 check inter 1s fall 2 rise 1
  server redis-replica-2 redis-replica-2:6379 check inter 1s fall 2 rise 1
